<form>
  <label>First Name</label>
  <input type="text" name="fname" [(ngModel)]="fname"><br><br><br>
  <label>Last Name</label>
  <input type="text" name="lname" [(ngModel)]="lname"><br><br><br>
  <label>Age</label>
  <input type="number" name="age" [(ngModel)]="age"><br><br><br>
  <label>Gender</label>
  <input type="radio" name="gender"[(ngModel)]="gender" id="male" name="gender" value="male">Male<br><br><br>
  <input type="radio" name="gender"[(ngModel)]="gender" id="female" name="gender" value="female">Female<br><br><br>
  <input type="radio" name="gender"[(ngModel)]="gender" id="other" name="gender" value="other">Other<br><br><br>
  <label>Contact</label>
  <input type="number" name="contact"[(ngModel)]="contact"><br><br><br>
  <label>Email</label>
  <input type="Email" name="email"[(ngModel)]="email"><br><br><br>
  <button (click)="nextClick()" [disabled]="!fname || !lname || !age || !gender || !contact || !email"> SUBMIT</button>

</form>